body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  padding: 10px;
}

.inputClass {
  width: 350px;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  padding: 0px 12px;
}

.addTaskBtn {
  height: 35px;
  width: 55px;
  border-radius: 15px;
  font-size: 18px;
  margin-left: 10px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  padding: 5px 0;
  font-size: 28px;
  border-bottom: 1px solid #b9b9b9;
  color: #000000;
}

.list-item > .delete-btn {
  display: none;
}

.title-checked {
  color: red;
}

.title-checked > .delete-btn {
  display: inline-block;
  font-size: 26px;
  color: red;
  background: white;
  border: 0px;
  text-decoration: none;
}

.title-checked > .delete-btn:hover {
  cursor: pointer;
}
